.about{
  margin-bottom: 160px;
  .three-col-row{
    margin: 160px 0;
    p{
      font-size: 14px;
      opacity: 1;
      font-weight: 400;
    }
    span{
      font-style: italic;
      opacity: .5;
    }
  }
}
