footer{
  .footer-one{
    background-color: #2F2F2F;
    width: 100%;
    color: #fff;
    padding: 45px 0;
  }
  h5{
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 2px;
  }
  p{
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1.55px;
  }
  a{
      border: none;
  }
  a.email{
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1.55px;
    text-transform: none;
    font-family: SourceSansPro-Regular;
  }
  .links{
    a{
      margin: 20px;
      opacity: 0.6;
      font-family: SourceSansPro-Bold;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 4px;
    }
  }
  .footer-two{
    background-color: #212121;
    padding: 10px 0;
  }
}
@media (max-width: 991px) {
  footer{
    .right{
      float: none;
    }
    .links{
      display: none;
    }
  }
}
