.hero{
  height: calc(100vh - 100px);
  width: 100%;
  margin-top: 100px;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  .content{
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
  }
  .bg-image{
    position: relative;
    z-index: 0;
  }
  .img{
    height: calc(100vh - 100px);
    width: 100%;
    overflow: hidden;
    background-image: url(../images/hero_text.png);
    background-size: cover;
    background-position: center;
    position: absolute;
  }
  .content h1{
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .content h5{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 3.5px;
    line-height: 33px;
    text-transform: uppercase;
  }
  .content h5, .hero .content h4{
    margin: 0;
  }
  .content p{
    line-height: 33px;
    font-size: 18px;
  }
  h1,h4,h5,p{
    color: #212121;
  }
}

@media (max-width: $mobile-size) {
  .hero{
    .content{
      h1{
        margin-top: 10px;
        margin-bottom: 20px;
      }
      p{
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
}

.right-align{
  text-align: right;
}
@media (max-width: $tablet-size) {
  .hero{
    margin-top: 80px;
    .img{
      display: none;
    }
    .content{
      margin: 30px 0;
      position: relative;
      top: 0;
      transform: none;
    }
    .right-align{
      text-align: left;
    }
  }
}

.one-col-callout{
  text-align: center;
  width: 100%;
  height: auto;
  padding: 150px 0;
  background: #fff;
  p{
    font-size: 18px;
    margin-top: 10px;
  }
  .company-logos{
    margin-top: 50px;
  }
}
p.body-font{
  font-size: 14px;
}

@media (max-width: $mobile-size) {
  .one-col-callout{
    p{
      font-size: 14px;
    }
  }
}

.two-col-img-text{
  margin-top: 100px;
  margin-bottom: 100px;
  .column{
    overflow: hidden;
  }
  .column.right{
    float: right;
  }
  p{
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
@media (max-width: $tablet-size) {
  .two-col-img-text .text{
    margin-top: 30px;
  }
}


.three-grid-showcase{
  width: 100%;
  background-color: #000;
  height: auto;
  .text{
    padding: 80px 100px 100px;
    color: #fff;
    h2{
      margin-bottom: 34px;
    }
  }
  .images{
    overflow: hidden;
    .image{
      height: 420px;
    }
  }
}

@media (max-width: $tablet-size) {
  .three-grid-showcase{
    .images{

    }
  }
}
@media (max-width: $mobile-size) {
  .three-grid-showcase{
    .text{
      padding: 35px 30px 40px;
      h2{
        font-size: 20px;
        line-height: 30px;
      }
      h4{
        font-size: 12px;
      }
    }
  }
}



.project-gallery{
  overflow: hidden;
  .tile{
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: pointer;
    height: 18vw;
    &:hover .content{
      opacity: 1;
    }
    .img{
      -webkit-transition: all 0.6s $easing_out;
      position: relative;
      z-index: 0;
      height: 100%;
      width: 100%;

    }
    &:hover > .img{
      -webkit-filter: blur(3px); /* Chrome, Safari, Opera */
      filter: blur(3px);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    .content{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.4);
      transition: all 0.6s $easing_out;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      color: #fff;
      text-transform: none;
      h2{
          color: #fff;
      }
    }
  }
  .tile.feature{
    height: 32vw;
  }
  .view-more{
    width: 100%;
    height: 100px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    a{
      line-height: 100px;
      cursor: pointer;
    }
  }
}
@media (max-width: $tablet-size) {
  .project-gallery .tile, .project-gallery .tile.feature{
    height: 402px;
  }
}
@media (max-width: $mobile-size) {
  .project-gallery .tile, .project-gallery .tile.feature{
    height: 223px;
  }
}


.two-col-img-text{
  .experience{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width:420px) {
  .two-col-img-text{
    .experience{
      height: auto;
      margin-bottom: 30px;
    }
  }
}




#hero-img {
    display: none;
    width: 100%;
    height: 100%;
}
canvas {
    left: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
}
