.full-width-header{
  min-height: 700px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: -1;
  p{
    font-size: 18px;
    opacity: 0.3;
  }
  h1,h4,p,a{
    color: $text-color;
  }
  .three-col-row{
    margin: 160px 0;
    p{
      font-size: 14px;
      opacity: 1;
      font-weight: 400;
    }
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.mobile-three-row{
  display: none;
  margin-bottom: 100px;
  h4{
    text-transform: uppercase;
    font-size: 14px;
  }
  p{
    font-size: 14px;
    opacity: 1;
  }
}

// .full-width-header.dark{
//   & h1,h4,p,a{
//     color: #212121 !important;
//   }
//   & h4{
//     opacity: .3;
//   }
// }

.page-content{
  background: #fff;
  z-index: 100;
}

.one-col-img{
  padding-top: 80px;
}

.two-col-title-text{
  margin-top: 100px;
  margin-bottom: 100px;
  h2{
    margin-bottom: 20px;
  }
}

.two-col-img{
  overflow: hidden;
  margin-bottom: 100px;
  .tile{
    padding: 0;
  }
}

.masonry-grid{
  margin-bottom: 100px;
}
.masonry-brick{
  width: 50%;
  float: left;
  padding: 15px;
  .image{
    overflow: hidden;
    height: 550px;
  }
  &.med .image{
    height: 450px;
  }
  &.sm .image{
    height: 350px;
  }
  p{
    padding: 15px;
  }
}


.full-width-image{
  .image{
    width: 100vw;
    height: 90vh;
  }
  .half-height{
    height: 70vh;
  }
}

.showcase-carousel{
  .slide{
    height: calc(100vh - 100px);
  }
  .slick-dots{
    // transform: translateY(-50px) !important;
    bottom: 5%;
  }
}
.slick-dotted.slick-slider{
  margin-bottom: 0 !important;
}

.related-projects{
  margin-bottom: 0;
  text-align: center;
  h2{
    margin-bottom: 60px;
  }
  .thumb{
    height: 300px;
  }
}

@media (max-width: $tablet-size) {
  .full-width-header{
    min-height: 0;
    padding-top: 100px;
    .three-col-row{
      margin: 60px 0;
    }
  }
}

@media (max-width: $mobile-size) {
  .full-width-header{
    padding-top: 30px;
    margin-bottom: 100px;
    h1{
      font-size: 42px;
      line-height: 60px;
    }
    p{
      font-size: 16px;
    }
  }
  .two-col-title-text{
    h3{
      margin-bottom: 15px;
    }
  }
  .masonary-grid{
    .tile{
      .description{
        padding: 0;
        padding-top: 5px;
      }
    }
  }
}
