$font-family: 'Montserrat', sans-serif;
$text-color: #000;
$dark-grey: #4a4a4a;
$primary-color: #315efb;
$cubic-bezier : cubic-bezier(.2, .1, .47, 1);
$easing_out: cubic-bezier(0.0, 0.0, 0.2, 1);
$easing_in: cubic-bezier(0.4, 0.0, 1, 1);
$tablet-size: 991px;
$mobile-size: 420px;
$orange: #F25635;
$offBlack: #121212;
