header{
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  transition: all 0.4s ease;
}
header .container{
  display: flex;
  align-items: center;
}
.nav-down{
  transform: translateY(0);
}
.nav-up{
  transform: translateY(-100px);
}
header .nav{
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav li{
  display: inline-block;
  margin: 0 40px;
  transition: opacity 0.4s ease;
}
header .nav a{
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.5;
  letter-spacing: 4px;
  transition: all 0.4s ease;
  border: none;
}
header .nav a:hover{
  text-decoration: none;
  opacity: 1;
}
header .nav a.active{
  opacity: 1;
}
header .logo{
  width: 130px;
  float: left;
  z-index: 101;
}
header .burger{
  position: absolute;
  right: 15px;
  top: 20px;
  z-index: 101;
  display: none;
}
header .burger span{
  display: block;
  width: 25px;
  height: 1px;
  background: black;
  margin: 13px 0;
}
@media (max-width:991px) {
  header{
    max-height: 80px;
    overflow: hidden;
  }
  header.open{
    max-height: 100vh;
  }
  header .burger{
    display: block;
  }
  header .nav{
    height: 100vh;
  }
  header ul{
    padding: 0;
  }
  header .nav li{
    display: block;
    padding: 20px 0;
    opacity: 0;
  }
  header .nav li.show{
    opacity: 1;
  }
  header .logo{
    position: absolute;
    top: 20px;
  }
}
