$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700';

@import "_variables";
@import "_footer";
@import "_home";
@import "_project";
@import "_header";
@import "_capabilities";
@import "_work";

body{
  font-family: $font-family;
  color: $text-color;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.17em;
  line-height: 29px;
}
h1,h2,h3,h4{
  margin: 0;
}
h1{
  font-weight: 200;
  font-size: 48px;
  line-height: 70px;
}
h2{
  font-weight: 200;
  font-size: 32px;
  line-height: 42px;
}
h4{
  font-weight: 700;
  font-size: 18px;
  color: #A7A7A7;
  line-height: 33px;
}
div{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a{
  font-weight: 700;
  color: $dark-grey;
  text-transform: uppercase;
  border-bottom: 2px solid #DBDBDB;
  cursor: pointer;
  transition: all 0.4s $cubic-bezier;
    &:hover{
    text-decoration: none;
    color: $primary-color;
    cursor: pointer;
  }
}
img{
    height: auto;
    width: 100%;
}
.bold{
  font-weight: 700;
}
.black{
  font-weight: 600;
  color: #fff;
}
.primary-btn{
  background: $text-color;
  padding: 15px 50px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.17em;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  transition: all 0.4s $cubic-bezier;
  border: 2px solid $text-color;
  &:hover{
    background: #fff;
    color: $text-color;
  }
}

.light-grey-bg{
  background-color: #f4f4f4;
}
.bg-image{
  background-size: cover;
  background-position: center;
}
.connect-customers{
  background-image: url(../images/connect-customers.jpg);
}



.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



/* ANIMATIONS
============================================================================= */

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}
/* scale down */
@keyframes scaleDown {
	to 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleDown {
	to 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleDown {
	to 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}


/* page specific animations ------------------------ */

.page.ng-enter{
  transition: all 0.5s $easing_in 1s;
  opacity: 0;
  transform: translateY(40px);
}
.page.ng-enter.ng-enter-active{
  opacity: 1;
  transform: translateY(0);
}
.page.ng-leave{
  transition: all 0.5s $easing_out;
  opacity: 1;
  transform: translateY(0);
}
.page.ng-leave.ng-leave-active{
  opacity: 0;
  transform: translateY(40px);
}

/* home -------------------------- */
.page-home.ng-enter{
  transition: all 0.6s $easing_in;
  opacity: 0;
  transform: translateY(40px);
}
.page-home.ng-enter.ng-enter-active{
  opacity: 1;
  transform: translateY(0);
}
.page-home.ng-leave{
  transition: all 0.6s $easing_out;
  opacity: 1;
  transform: translateY(0);
}
.page-home.ng-leave.ng-leave-active{
  opacity: 0;
  transform: translateY(40px);
}

/* about ------------------------ */
.page-project.ng-enter{
  transition: all 0.6s $easing_in;
  opacity: 0;
  transform: translateY(40px);
}
.page-project.ng-enter.ng-enter-active{
  opacity: 1;
  transform: translateY(0);
}
.page-project.ng-leave{
  transition: all 0.6s $easing_out;
  opacity: 1;
  transform: translateY(0);
}
.page-project.ng-leave.ng-leave-active{
  opacity: 0;
  transform: translateY(40px);
}
