<div class="full-width-header parallax {{ project.textColour }}">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1>A multidisciplinary designer focused on user experience design with a keen interest in <span class="black">humanising</span> complex technology. Currently <span class="black">available</span> for freelance work.</h1>
        <!-- <p>{{ project.subheading }}</p> -->
      </div>
    </div>
  </div>
</div>

<div class="page-content about">

  <div class="full-width-image">
    <div class="image half-height" style="background-image: url('../images/hero.jpg')"></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="three-col-row">
        <div class="col-md-8">
          <h4>Approach</h4>
          <p>I am a dynamic and creative UX and product designer with experience of working on international brands, in a fast paced collaborative environment. As a hands on individual I apply strategic thinking to deliver end-to-end user experience solutions with a focus on user needs and business goals directly responsible for delivering all aspects of design, from defining customer needs to delivering concepts and prototypes to UI specifications for engineering. As I believe my online portfolio shows, I turn visions into concepts and translate those concepts into designs that illustrate simplicity despite system complexity. I have experience working with both on and off shore teams to take concepts through to production, using my knowledge in web development languages to effectively communicate design intent during the production phase.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="three-col-row">
        <div class="col-md-4">
          <h4>Experience</h4>
          <p>IBM Interactive Experience - UX/Interaction Designer - Placement - <span>Aug 2015 - Sep 2016</span></p>
          <p>Sterling Moulded Composites - Product Design Engineer - Placement - <span>Jul 2013 - Sep 2013</span></p>
          <p>Promethean - Product Design Engineer - Placement - <span>Jul 2009 - Sep 2009</span></p>
        </div>
        <div class="col-md-4">
          <h4>Education</h4>
          <p>Loughborough University - BA Industrial Design - First Class Honours - <span>Sep 2013 - Jul 2017</span></p>
          <p>Queen Elizabeth’s Grammar School - 3 A-Levels - <span>Sep 2011 - Jul 2013</span></p>
          <p>Queen Elizabeth’s Grammar School - 10 GCSEs - <span>Sep 2009 - Jul 2011</span></p>
        </div>
        <div class="col-md-4">
          <h4>Awards</h4>
          <p>New Designers 2017 Show Highlight - <span>June 2017</span></p>
          <p>Hong Kong University UXathon Winner - <span>Oct 2016</span></p>
          <p>Global Service Design Jam Winner - <span>Feb 2016</span></p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="one-col-callout light-grey-bg" id="contact">
  <div class="container" data-sr="enter bottom over 1s and move 300px">
    <div class="col-md-8 col-md-offset-2 reveal">
      <h1>Get in touch</h1>
      <p>Got a project in mind? I’m always interested in new projects, send me a message.</p>
      <a href="mailto:maxhumberstonedesigns@gmail.com" target="_top">
        <button type="button" class="primary-btn">Get in touch</button>
      </a>
      <!-- <p class="body-font">Forms not your thing send me an <a href="#" class="bold lowercase">email</a></p> -->
    </div>
  </div>
</div>
