<div class="page-content2">

  <div class="two-col-title-text load-reveal">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <h3 class="orange-text">What I do</h3>
        </div>
        <div class="col-md-7">
          <h2>I create effective stratagies, meaningful products, seamless interactions and unforgetable experiences.</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="hero2 orange load-reveal2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="text col-lg-6 load-reveal3">
            <h2>Strategy</h2>
            <p>To gain a competitive advantage, organisations require holistic thinking right accross their business. I work with businesses to clarify their purpose, find their voice, understand their customers, and define their goals.</p>
          </div>
        </div>
        <div class="col-md-7">
          <div class="image" style="background-image: url('../images/process/strategy.jpg'); background-size: cover; background-position: right;"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="hero2 white right">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="text col-lg-6">
            <div class="">
              <h3>Design</h3>
              <hr>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum ultricies neque at volutpat. In ultricies, purus quis fringilla finibus, est ante ullamcorper magna, ut molestie nulla purus eu magna. Morbi et ultrices urna. Donec sit amet rutrum mauris. Donec eu viverra diam. In hac habitasse platea dictumst. Vestibulum aliquet vulputate turpis ac tincidunt.</p>
          </div>
        </div>
        <div class="col-md-7">
          <div class="image" style="background-image: url('../img/process/design.jpg'); background-size: cover; background-position: left;"></div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="hero2 white right reveal">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="text col-lg-6 second-reveal">
            <h2>Product</h2>
            <p>While studying Industrial Design at Loughbororugh University I have learned and developed my process in 3D design. My skills in 3D design allow me tie the user experience goals with the physical product to produce an </p>
          </div>
        </div>
        <div class="col-md-7 ">
          <div class="image" style="background-image: url('../images/process/product.jpg'); background-size: cover; background-position: right;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero2 white reveal">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="text col-lg-6 second-reveal">
            <h2>Digital</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum ultricies neque at volutpat. In ultricies, purus quis fringilla finibus, est ante ullamcorper magna, ut molestie nulla purus eu magna. Morbi et ultrices urna. Donec sit amet rutrum mauris. Donec eu viverra diam. In hac habitasse platea dictumst. Vestibulum aliquet vulputate turpis ac tincidunt.</p>
          </div>
        </div>
        <div class="col-md-7 ">
          <div class="image" style="background-image: url('../images/process/digital.png'); background-size: contain; background-position: right;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero2 dark right reveal">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <div class="text col-lg-6 second-reveal">
            <h2>Development</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum ultricies neque at volutpat. In ultricies, purus quis fringilla finibus, est ante ullamcorper magna, ut molestie nulla purus eu magna. Morbi et ultrices urna. Donec sit amet rutrum mauris. Donec eu viverra diam. In hac habitasse platea dictumst. Vestibulum aliquet vulputate turpis ac tincidunt.</p>
          </div>
        </div>
        <div class="col-md-7">
          <div class="image" style="background-image: url('../images/process/interactions.png'); background-size: contain; background-position: bottom;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="one-col-callout light-grey-bg">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 reveal">
        <h1>Get in touch</h1>
        <p>Got a project in mind? I’m always interested in new projects, send me a message.</p>
        <button type="button" class="primary-btn">Get in touch</button>
        <p class="body-font">Forms not your thing send me an <a href="#" class="bold lowercase">email</a></p>
      </div>
    </div>
  </div>


</div>
