<div class="hero parallax">
  <!-- <div class="bg-image">
    <div class="col-md-6"></div>
    <div class="img col-md-6"></div>
  </div> -->
  <div class="container">
    <div class="row">
      <div class="content col-md-8">
          <h4>HELLO,</h4>
          <h4>MY NAME IS MAX HUMBERSTONE</h4>
          <h1>I love crafting beautiful, smart and inspired work.</h1>
          <p>I am a designer practicing in <span class="black">user experience design</span>, <span class="black">visual design</span>, <span class="black">industrial design</span> and <span class="black">front-end development</span>.</p>
      </div>
    </div>
  </div>
</div>

<div class="one-col-callout bg-image connect-customers">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>I connect businesses to customers</h1>
      <p>Applying empathy to every design decision I ensure the solution meets your customer needs and exceeds expectation. </p>
      <a href="#">Browse my services</a>
    </div>
  </div>
</div>

<div class="two-col-img-text">
  <div class="container">
    <div class="row">
      <div class="col-md-6 column">
        <img src="img/stickies.jpg" alt="sticky notes" />
      </div>
      <div class="col-md-5 column text right">
        <h2>I use an intergrated approach with Customer Needs at the Core.</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis ex ac feugiat rhoncus. Nam efficitur mauris eget tortor vestibulum, et varius lorem pellentesque. Mauris tincidunt eros eros.
        </p>
        <a href="#/capabilities">EXPLORE MY CAPABILITES</a>
      </div>
    </div>
  </div>
</div>

<div class="project-gallery">
  <div class="row">
    <a href="#/projects/{{project.handle}}" ng-repeat="project in projects | limitTo:quantity">
      <div ng-if="project.featured" class="col-md-6 tile feature">
        <div class="img" style="background-image: url('img/{{ project.hero.src }}')"></div>
        <div class="content">
          <h2>{{ project.title }}</h2>
        </div>
      </div>
      <div ng-if="!project.featured" class="col-md-3 tile">
        <div class="img" style="background-image: url('img/{{ project.hero.src }}')"></div>
        <div class="content">
          <h2>{{ project.title }}</h2>
        </div>
      </div>
    </a>
  </div>
  <div class="view-more">
    <a>View all projects</a>
  </div>
</div>

<div class="two-col-img-text">
  <div class="container">
    <div class="row">
      <div class="col-md-6 column right experience pull-right">
        <img class="company-logos" src="img/company-logos.jpg" alt="IBM Sterling Moulded Composites Promethean" />
      </div>
      <div class="col-md-5 column text right-align">
        <h2>Experience accross multiple sectors and diciplines.</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis ex ac feugiat rhoncus. Nam efficitur mauris eget tortor vestibulum, et varius lorem pellentesque. Mauris tincidunt eros eros.
        </p>
        <a href="#">LEARN MORE ABOUT MY EXPERIENCE</a>
      </div>
    </div>
  </div>
</div>

<div class="one-col-callout light-grey-bg">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>Get in touch</h1>
      <p>Got a project in mind? I’m always interested in new projects, send me a message.</p>
      <button type="button" class="primary-btn">Get in touch</button>
      <p class="body-font">Forms not your thing send me an <a href="#" class="bold lowercase">email</a></p>
    </div>
  </div>
</div>
