<div class="full-width-header parallax {{ project.textColour }}">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1>{{ project.heading }}</h1>
        <p>{{ project.subheading }}</p>
      </div>
    </div>
    <div class="row">
      <div class="three-col-row">
        <div class="col-md-4">
          <h4>Client</h4>
          <p>{{ project.client }}</p>
          <a ng-if="project.link" href="#">Visit site</a>
        </div>
        <div class="col-md-4">
          <h4>Challenge</h4>
          <p>{{ project.challenge }}</p>
        </div>
        <div class="col-md-4">
          <h4>Outcome</h4>
          <p>{{ project.outcome }}</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="page-content">

  <div class="full-width-image" data-sr="enter bottom over 1s and move 300px">
    <div class="image half-height" style="background-image: url('../images/{{ project.hero.src }}')"></div>
  </div>

  <div class="container mobile-three-row" data-sr="enter bottom over 1s and move 300px">
    <div class="row">
      <div class="three-col-row">
        <div class="col-md-4">
          <h4>Client</h4>
          <p>{{ project.client }}</p>
          <a ng-if="project.link" href="#">Visit site</a>
        </div>
        <div class="col-md-4">
          <h4>Challenge</h4>
          <p>{{ project.challenge }}</p>
        </div>
        <div class="col-md-4">
          <h4>Outcome</h4>
          <p>{{ project.outcome }}</p>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="project.section1" class="two-col-title-text" data-sr="enter bottom over 1s and move 300px">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4>{{ project.section1.title}}</h4>
          <h2>{{ project.section1.heading }}</h2>
          <p>{{ project.section1.content }}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="full-width-image" data-sr="enter bottom over 1s and move 300px">
    <div class="image half-height" style="background-image: url('../images/{{ project.image1.src }}')"></div>
  </div>


  <div ng-if="project.section2" class="two-col-title-text" data-sr="enter bottom over 1s and move 300px">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4>{{ project.section2.title}}</h4>
          <h2>{{ project.section2.heading }}</h2>
          <p>{{ project.section2.content }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="two-col-img" data-sr="enter bottom over 1s and move 300px">
    <div class="row">
      <div class="col-sm-6 tile">
        <img src="../images/{{ project.image2.src }}" alt="{{ project.image2.alt }}" />
      </div>
      <div class="col-sm-6 tile">
        <img src="../images/{{ project.image3.src }}" alt="{{ project.image3.alt }}" />
      </div>
    </div>
  </div>

  <div ng-if="project.section3" class="two-col-title-text" data-sr="enter bottom over 1s and move 300px">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4>{{ project.section3.title}}</h4>
          <h2>{{ project.section3.heading }}</h2>
          <p>{{ project.section3.content }}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="masonry-grid" ng-if="project.grid_images" data-sr="enter bottom over 1s and move 300px">
    <div class="container">
      <div masonry load-images="false">
        <div class="masonry-brick {{ image.size }}" ng-repeat="image in project.grid_images">
          <div class="image {{ image.size }}">
            <img src="../images/{{ image.src }}" alt="{{ image.alt }}" />
          </div>
          <p class="description">{{ image.description }}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="two-col-img " ng-if="project.image4 && project.image5" data-sr="enter bottom over 1s and move 300px">
    <div class="row">
      <div class="col-sm-6 tile">
        <img src="../images/{{ project.image4.src }}" alt="{{ project.image4.alt }}" />
      </div>
      <div class="col-sm-6 tile">
        <img src="../images/{{ project.image5.src }}" alt="{{ project.image5.alt }}" />
      </div>
    </div>
  </div>


  <div ng-if="project.section4" class="two-col-title-text" data-sr="enter bottom over 1s and move 300px">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4 ng-if="project.section4.title">{{ project.section4.title}}</h4>
          <h2>{{ project.section4.heading }}</h2>
          <p>{{ project.section4.content }}</p>
        </div>
      </div>
    </div>
  </div>


  <slick dots=true autoplay=true autoplay-speed=6000 class="showcase-carousel" data-sr="enter bottom over 1s and move 300px">
    <div class="slide" ng-repeat="image in project.showcase" style="background-image: url('../images/{{ image.src }}')">
      <div class="description" ng-if="image.description">
        <div class="container">
          <div class="col-md-4">
            <p>{{ image.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </slick>


  <div class="one-col-callout " data-sr="enter bottom over 1s and move 300px">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 reveal">
        <h1>Ready to chat?</h1>
        <p>Got a project in mind? I’m always interested in new projects, send me a message.</p>
        <button type="button" class="primary-btn">Get in touch</button>
        <p class="body-font">Forms not your thing send me an <a href="#" class="bold lowercase">email</a></p>
      </div>
    </div>
  </div>


  <div class="project-gallery related-projects" data-sr="enter bottom over 1s and move 300px">
    <h2>Related Projects</h2>
    <div class="row">
      <a href="#/projects/{{project.project.handle}}" ng-repeat="project in relatedProjects | orderBy:'order' | limitTo: 2">
        <div  class="col-md-6 tile feature ">
          <div class="img" style="background-image: url('images/{{ project.project.hero.src }}')"></div>
          <div class="content">
            <h2>{{ project.project.title }}</h2>
            <p>{{ project.project.type }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>


  <!-- <div ng-if="project.showcase" class="full-width-image">
    <div ng-repeat="image in project.showcase" class="image" style="background-image: url('../images/{{ image.src }}')"></div>
  </div> -->
