<div class="page-content2">

  <div class="filter-bar">
    <div class="container">
      <ul>
        <li data-filter="*" class="selected">All work</li>
        <li data-filter="product">Product</li>
        <li data-filter="digital">Digital</li>
        <li data-filter="development">Development</li>
      </ul>
    </div>
  </div>

  <div class="project-gallery reveal">
    <div class="row">
      <div infinite-scroll='loadMore()' infinite-scroll-distance='2'>
        <a href="#/work/{{project.handle}}" ng-repeat="project in projects" class="project {{ project.type }} fade-in">
          <div class="col-md-6 tile feature {{ project.type }}">
            <div class="img" style="background-image: url('images/{{ project.hero.src }}')"></div>
            <div class="content">
              <h2>{{ project.title }}</h2>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="one-col-callout " data-sr="enter bottom over 1s and move 300px" id="contact">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 reveal">
        <h1>Ready to chat?</h1>
        <p>Got a project in mind? I’m always interested in new projects, send me a message.</p>
        <a href="mailto:maxhumberstonedesigns@gmail.com" target="_top">
          <button type="button" class="primary-btn">Get in touch</button>
        </a>
        <!-- <p class="body-font">Forms not your thing send me an <a href="#" class="bold lowercase">email</a></p> -->
      </div>
    </div>
  </div>

</div>
